*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    list-style: none;
}

h1{
    margin: 0;
    padding: 1rem;
}

.content{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.pokemons{
    padding: 0;
    margin: 0;
    color: white;
}

.pokemon-list{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #49D0B0;    
}

img{
    max-width: 100%;
    height: 100px;
}

.number{
    color: black;
    opacity: .3;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ol{
    padding: 0;
}

.type{
    background-color: #61E1CA;
    color: white;
    padding: .20rem .5rem;
    font-size: .625rem;
    margin: .25rem 0;
    border-radius: 1rem;
}